@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');

@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";


@font-face {
  font-family: 'Pokemon';
  src: url('../public/fonts/Pokemon\ Hollow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url('../public/fonts/Pokemon\ Solid.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}


:root {
  font-family:  'Nunito', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Estilos para el botón de cerrar en PrimeReact Toast */
.p-toast .p-toast-icon-close {
    color: #ffffff !important; 
    opacity: 0.8 !important;
    background-color: transparent !important;
}

.p-toast .p-toast-icon-close:hover {
    opacity: 1 !important; /* Mayor visibilidad al pasar el mouse */
}

.p-toast .p-toast-icon-close-icon {
    fill: currentColor;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Nunito', Avenir, Helvetica, Arial, sans-serif;
}


body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}