/* buttonPrincipal.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50em;
  height: 10em;
  overflow: hidden; 
}


.btn {
  text-decoration: none;
  font-weight: 700;
  border: 2px solid #e74c3c; /* Borde rojo visible */
  position: relative;
  letter-spacing: 0.15em;
  padding: 1rem 2.5rem;
  background-color: transparent; /* Fondo transparente */
  color: #111111; /* Texto oscuro para contraste */
  outline: none;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0 0 8px #e74c3c; /* Sombra roja sutil */
  transition: box-shadow 0.3s, border-color 0.3s;
}

.btn:hover {
  border-color: #c92918; /* Color de borde más oscuro al hacer hover */
   color: #FFFFFF;
  box-shadow: 0 0 12px #c92918; /* Sombra más pronunciada y oscuro en hover */
}


.btn::after,
.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border: none;
}

.btn::before {
  background-color: #e74c3c;
  top: -0.75rem;
  left: 0.5rem;
  height: 40%;
  width: 10%;
}

.btn::after {
  background-color: #c92918;
  top: 3rem;
  left: 13rem;
  height: 40%;
  width: 10%;
}


.btn:hover::before,
.btn:hover::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 0;
}

.bolita {
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: #c92918;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.8s;
}

.bolita1 {
  top: 63%;
  left: 65%;
}

.bolita2 {
  top: 40%;
  left: 35%;
  width: 1.2em;
  height: 1.2em;
  background-color: #e74c3c;
}

.container:hover .bolita {
  opacity: 0;
}
